.clearfix:after {
  content: '';
  display: table;
  clear: both; }

html,
body {
  max-width: 1024px;
  margin: 0 auto; }

* {
  box-sizing: border-box; }

div.tab {
  overflow: hidden;
  background-color: #f1f1f1; }

div.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s; }

div.tab button:hover {
  background-color: #ddd; }

div.tab button.active {
  background-color: #ccc; }

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none; }

.trafficTabs {
  width: 80%;
  max-width: 280px; }

.trafficTitle {
  width: 20%;
  max-width: 40px; }

header {
  width: 100%;
  max-height: 40px;
  background-color: #009688;
  padding-top: 0.5em; }
  header #appName {
    float: left; }
  header #headerIcons {
    float: right;
    height: 100%; }
    header #headerIcons #notificationBell {
      padding-right: 0.25em;
      float: left; }
    header #headerIcons #userIcon {
      padding-right: 0.25em;
      padding-left: 5px;
      float: right; }

.dashboardHeader {
  padding-top: 10px; }
  .dashboardHeader .dashboardSpan {
    padding-top: 3px;
    padding-left: 10px; }

.main {
  background-color: #009688; }

.navTab {
  display: inline-block;
  justify-content: space-around;
  width: 100%;
  overflow: auto;
  text-align: center;
  padding-top: 0.25em; }
  .navTab .navBarTitle {
    float: left; }
  .navTab span {
    display: inline-block;
    vertical-align: middle; }
  .navTab input {
    vertical-align: middle;
    background-color: #00BFA5; }
  .navTab textarea:focus, .navTab input:focus {
    color: white; }

.dashboardSpan {
  float: left; }

.dashboardSearch {
  float: right; }

.dashboardHeader {
  padding-bottom: 15px; }

.alert {
  padding: 0.5em;
  border: 1px solid #A7FFEB;
  background-color: #00BFA5;
  color: white; }

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-style: bold; }

.closebtn:hover {
  color: #009688; }

#trafficTabs {
  float: right; }

.container {
  padding-top: 15px;
  padding-bottom: 15px;
  border: black solid 1px;
  border-bottom: 0; }

.socialDiv {
  border: black solid 1px;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 80%;
  max-width: 320px; }

.socialBackground {
  float: left;
  position: relative;
  background: black;
  width: 50px;
  height: 50px;
  border-radius: 50%; }

.socialIconTwitter {
  float: left;
  position: absolute;
  left: 23%;
  top: 25%;
  width: 30px;
  fill: white; }

.socialIconFacebook {
  position: absolute;
  left: 20%;
  top: -8%;
  width: 30px;
  fill: white; }

.socialIconGooglePlus {
  position: absolute;
  left: 19%;
  top: 21%;
  width: 30px;
  fill: white; }

.socialCopy {
  padding-left: 60px; }
  .socialCopy p {
    margin: 0; }

#newMembersDetails {
  width: 100%; }

#newMembersTitle {
  width: 90%;
  margin: 0 auto; }

.memberDetails {
  margin: 0 auto;
  width: 90%;
  border-bottom: black solid 1px;
  padding: 10px 0; }
  .memberDetails img {
    float: left;
    border-radius: 50%;
    width: 35px;
    height: 35px; }
  .memberDetails .userName,
  .memberDetails .userEmail,
  .memberDetails .userJoined {
    margin: 0; }
  .memberDetails .userJoined {
    display: none;
    padding-top: 5px; }
  .memberDetails .userNameEmailJoined {
    margin: 0;
    padding-left: 50px; }

.activityContainer {
  margin: 0 auto;
  width: 90%;
  border-bottom: black solid 1px;
  padding: 10px 0; }
  .activityContainer img {
    float: left;
    border-radius: 50%;
    width: 35px;
    height: 35px; }

#recentUserActivity {
  width: 100%; }

#activityTitle {
  width: 90%;
  margin: 0 auto; }

.activityContainer {
  margin: 0 auto;
  width: 90%;
  border-bottom: black solid 1px;
  padding: 10px 0; }
  .activityContainer img {
    float: left;
    border-radius: 50%;
    width: 35px;
    height: 35px; }
  .activityContainer .userActivity {
    margin: 0; }
    .activityContainer .userActivity * {
      padding-left: 50px; }
    .activityContainer .userActivity p {
      margin: 0; }

.navBar {
  display: flex;
  justify-content: space-around;
  background-color: #00BFA5; }
  .navBar .navSvg {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    max-width: 30px;
    max-height: 30px; }

/*# sourceMappingURL=stylesheet.css.map */
