.circle, .socialBackground, .memberDetails img, .activityContainer img {
  border-radius: 50%; }

.roundedCorners, .tablinks, #messageContainer #messageInputs #userSearchBox,
#messageContainer #messageInputs #userMessageBox,
#messageContainer #messageInputs #sendMessage, #userSettings #settingsContainer #timezoneSelector, #userSettings #settingsContainer #saveSettings #saveButton,
#userSettings #settingsContainer #saveSettings #cancelButton {
  border-radius: 5px; }

.switches, #userSettings {
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */ }
  .switches .switch, #userSettings .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px; }
  .switches .switch input, #userSettings .switch input {
    display: none; }
  .switches .slider, #userSettings .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; }
  .switches .slider:before, #userSettings .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }
  .switches input:checked + .slider, #userSettings input:checked + .slider {
    background-color: #2196F3; }
  .switches input:focus + .slider, #userSettings input:focus + .slider {
    box-shadow: 0 0 1px #2196F3; }
  .switches input:checked + .slider:before, #userSettings input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }
  .switches .slider.round, #userSettings .slider.round {
    border-radius: 34px; }
  .switches .slider.round:before, #userSettings .slider.round:before {
    border-radius: 50%; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

html,
body {
  max-width: 1024px;
  margin: 0 auto; }

* {
  color: black;
  box-sizing: border-box; }

div.tab {
  overflow: hidden;
  background-color: #f1f1f1; }

div.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s; }

div.tab button:hover {
  background-color: #ddd; }

div.tab button.active {
  background-color: #ccc; }

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none; }

.trafficTabs {
  width: 80%;
  max-width: 280px; }

.trafficTitle {
  width: 20%;
  max-width: 40px; }

header {
  width: 100%;
  max-height: 40px;
  background-color: #607D8B;
  padding-top: 0.5em; }
  header #appName {
    float: left; }
  header #headerIcons {
    float: right;
    height: 100%; }
    header #headerIcons #notificationBell {
      padding-right: 0.25em;
      float: left; }
    header #headerIcons #userIcon {
      padding-right: 0.25em;
      padding-left: 5px;
      float: right; }

.dashboardHeader {
  padding-top: 10px; }
  .dashboardHeader .dashboardSpan {
    padding-top: 3px;
    padding-left: 10px; }

.main {
  background-color: #607D8B; }

.navTab {
  display: inline-block;
  justify-content: space-around;
  width: 100%;
  overflow: auto;
  text-align: center;
  padding-top: 0.25em; }
  .navTab .navBarTitle {
    float: left; }
  .navTab span {
    display: inline-block;
    vertical-align: middle; }
  .navTab input {
    vertical-align: middle;
    background-color: #607D8B; }
  .navTab textarea:focus, .navTab input:focus {
    color: white; }

.dashboardSpan {
  float: left; }

.dashboardSearch {
  background-color: #36474f;
  float: right; }

.dashboardHeader {
  padding-bottom: 15px; }

.alert {
  padding: 0.5em;
  border: 1px solid #36474f;
  background-color: #f48236;
  color: white; }

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-style: bold; }

.closebtn:hover {
  color: #607D8B; }

#trafficTabs {
  display: flex;
  justify-content: space-around; }

.tablinks {
  border: #36474f solid 1px; }

.container {
  padding-top: 15px;
  padding-bottom: 15px;
  border: #36474f solid 1px;
  border-bottom: 0; }

.socialDiv {
  border: #36474f solid 1px;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 80%;
  max-width: 320px; }

.socialBackground {
  float: left;
  position: relative;
  background: black;
  width: 50px;
  height: 50px; }

.socialIconTwitter {
  float: left;
  position: absolute;
  left: 23%;
  top: 25%;
  width: 30px;
  fill: white; }

.socialIconFacebook {
  position: absolute;
  left: 20%;
  top: -8%;
  width: 30px;
  fill: white; }

.socialIconGooglePlus {
  position: absolute;
  left: 19%;
  top: 21%;
  width: 30px;
  fill: white; }

.socialCopy {
  padding-left: 60px; }
  .socialCopy p {
    margin: 0; }

#newMembersDetails {
  width: 100%; }

#newMembersTitle {
  width: 90%;
  margin: 0 auto; }

.memberDetails {
  margin: 0 auto;
  width: 90%;
  border-bottom: #36474f solid 1px;
  padding: 10px 0; }
  .memberDetails img {
    float: left;
    width: 35px;
    height: 35px; }
  .memberDetails .userName,
  .memberDetails .userEmail,
  .memberDetails .userJoined {
    margin: 0; }
  .memberDetails .userJoined {
    display: none;
    padding-top: 5px; }
  .memberDetails .userNameEmailJoined {
    margin: 0;
    padding-left: 50px; }

.activityContainer {
  margin: 0 auto;
  width: 90%;
  border-bottom: #36474f solid 1px;
  padding: 10px 0; }
  .activityContainer img {
    float: left;
    width: 35px;
    height: 35px; }

#recentUserActivity {
  width: 100%; }

#activityTitle {
  width: 90%;
  margin: 0 auto; }

.activityContainer {
  margin: 0 auto;
  width: 90%;
  border-bottom: #36474f solid 1px;
  padding: 10px 0; }
  .activityContainer img {
    float: left;
    width: 35px;
    height: 35px; }
  .activityContainer .userActivity {
    margin: 0; }
    .activityContainer .userActivity * {
      padding-left: 50px; }
    .activityContainer .userActivity p {
      margin: 0; }

#messageContainer {
  width: 90%;
  margin: 0 auto; }
  #messageContainer #messageInputs #messageTitle {
    margin: 0 auto;
    padding-bottom: 10px; }
  #messageContainer #messageInputs #userSearchBox {
    height: 24px; }
  #messageContainer #messageInputs #userMessageBox {
    padding-top: 6px; }
  #messageContainer #messageInputs #userSearchBox,
  #messageContainer #messageInputs #userMessageBox,
  #messageContainer #messageInputs #sendMessage {
    border: #36474f solid 1px;
    margin-bottom: 10px;
    width: 100%; }
  #messageContainer #messageInputs #userSearchBox,
  #messageContainer #messageInputs #userMessageBox {
    padding-left: 10px; }
  #messageContainer #messageInputs #sendMessage {
    height: 24px; }

#userSettings #settingsContainer {
  width: 90%;
  margin: 0 auto; }
  #userSettings #settingsContainer #settingsToggles {
    padding-top: 10px; }
    #userSettings #settingsContainer #settingsToggles #sendText,
    #userSettings #settingsContainer #settingsToggles #publicText {
      display: inline-block;
      height: 34px; }
    #userSettings #settingsContainer #settingsToggles .switchFloat {
      margin-top: 6px;
      float: right; }
  #userSettings #settingsContainer #timezoneSelector {
    border: #36474f solid 1px;
    height: 24px;
    width: 100%; }
  #userSettings #settingsContainer #saveSettings {
    display: flex;
    justify-content: space-between; }
    #userSettings #settingsContainer #saveSettings #saveButton {
      width: 45%; }
    #userSettings #settingsContainer #saveSettings #cancelButton {
      width: 45%; }
    #userSettings #settingsContainer #saveSettings #saveButton,
    #userSettings #settingsContainer #saveSettings #cancelButton {
      margin-top: 10px;
      height: 24px;
      border: #36474f solid 1px; }

.navBar {
  display: flex;
  justify-content: space-around;
  background-color: #36474f; }
  .navBar .navSvg {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    max-width: 30px;
    max-height: 30px; }

/*# sourceMappingURL=stylesheet.css.map */
