// Colors
$color-base: #607D8B;
// Shades
$color-50: #ECEFF1;
$color-100: #CFD8DC;
$color-200: #B0BEC5;
$color-300: #90A4AE;
$color-400: #78909C;
$color-500: #607D8B;
$color-600: #546E7A;
$color-700: #455A64;
$color-800: #37474F;
$color-900: #263238;