.main {
    background-color: $color-base;
}

.dashHeader {
    display: inline-block;
    justify-content: space-around;
    width: 100%;
    overflow:auto;
    text-align: center;
    padding-top: 0.25em;
    input {
        vertical-align: middle;
        background-color: $color-900;
    }
    textarea:focus, input:focus {
        color: white;
    }
    span {
        display: inline-block;
        vertical-align: middle;
    }
}