.main {
    background-color: $color-base;
}
.navTab {
    display: inline-block;
    justify-content: space-around;
    width: 100%;
    overflow:auto;
    text-align: center;
    padding-top: 0.25em;
    .navBarTitle {
        float: left;
    }
    
    span {
        display: inline-block;
        vertical-align: middle;
    }
    input {
        vertical-align: middle;
        background-color: $color-base;
    }
    textarea:focus, input:focus {
        color: white;
    }
}

// The alert message box 
.alert {
    padding: 0.5em;
    border: 1px solid $color-dark;
    border-bottom: 0;
    background-color: $color-highlight;
    color: white;
    width: 90%;
    margin: 0 auto;
    @extend .roundedCorners;
    #alertText {
        margin: 0 auto;
        color: white;
    }
    @media screen and (min-width: 768px) {
        border: $color-dark solid 1px;
    }
}

// The close button 
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-style: bold;
}

// When moving the mouse over the close button 
.closebtn:hover {
    color: $color-base;
}

// Traffic Styling
#trafficSection {
    @media screen and (min-width: 768px) {
        margin: 0 auto;
        width: 90%;
        border: 0;
    }
}
#trafficTabs {
    display: flex;
    justify-content: space-around;
}
.tablinks {
    border: $dark-border;
    @extend .roundedCorners;
    background-color: $color-dark;
    color: white;
}

// Daily Traffic Specifics
#dailyChartSection {
    @media screen and (min-width: 768px) {
        margin: 0 auto;
        width: 90%;
        border: 0;
        border-top: $color-dark solid 1px;
    }
    @media screen and (min-width: 1024px) {
        float: left;
        width: 45%;
    }
    #dailyChartDiv {
        #trafficDaily {
            @media screen and (min-width: 1024px) {
                height: 400px !important;
                width: 400px !important;
            }
        }
    }
}

// Device Stats
#mobileUsers {
    @media screen and (min-width: 768px) {
        margin: 0 auto;
        width: 90%;
        border: 0;
        border-top: $color-dark solid 1px;
    }
    @media screen and (min-width: 1024px) {
        float: right;
        width: 45%;
    }
    @media screen and (min-width: 1024px) {
        height: 400px !important;
        width: 400px !important;
    }
}
#dailyAndStats {
    @media screen and (min-width: 1024px) {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        width: 90%
    }
}

// Generic Section styling
.container {
    padding-top: 15px;
    padding-bottom: 15px;
    border: $dark-border;
    border-bottom: 0;
}

// Social Stats
#socialStats {
    clear: both;
}
#socialTitle {
    width: 90%;
    margin: 0 auto;
}
#socialContainer {
    .socialDiv {
        border: $dark-border;
        padding: 10px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
        width: 80%;
        max-width: 320px;
        @media screen and (min-width: 768px) {
            margin-right: 0;
            margin-left: 0;
            width: 30%;
            max-width: 240px;
        }
    }
    .socialBackground {
        float: left;
        position: relative;
        background: $color-highlight;
        width: 50px;
        height: 50px;
        @extend .circle;
    }
    .socialIconTwitter {
        float: left;
        position:absolute ;
        left: 23%;
        top: 25%;
        width: 30px;
        fill: white;
    }
    .socialIconFacebook {
        position:absolute ;
        left: 20%;
        top: -8%;
        width: 30px;
        fill: white;
    }
    .socialIconGooglePlus {
        position:absolute ;
        left:19% ;
        top:21% ;
        width: 30px;
        fill: white;
    }
    .socialCopy {
        padding-left: 60px;
        p {
            margin: 0;
        }
    }
    @media screen and (min-width: 768px) {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }
}

// New Members styling
#newMembers {
    #newMembersDetails {
        width: 100%;
    }
    #newMembersTitle {
        width: 90%;
        margin: 0 auto;
    }
    .memberDetails {
        margin: 0 auto;
        width: 90%;
        border-bottom: $dark-border;
        padding: 10px 0;
        img {
            float: left;
            @extend .circle;
            width: 35px;
            height: 35px;
        }
        .userName,
        .userEmail,
        .userJoined {
            margin: 0;
        }
        .userJoined {
            display: none;
            padding-top: 5px;
        }
        .userNameEmailJoined {
            margin: 0;
            padding-left: 50px;
        }
    }
    @media screen and (min-width: 768px) {
        float: left;
        width: 50%;
    }
}
// Recent Activity Styling
#recentActivity {
    .activityContainer {
        margin: 0 auto;
        width: 90%;
        border-bottom: $dark-border;
        padding: 10px 0;
        img {
            float: left;
            @extend .circle;
            width: 35px;
            height: 35px;
            }
    }
    #recentUserActivity {
        width: 100%;
    }
    #activityTitle {
        width: 90%;
        margin: 0 auto;
    }
    .activityContainer {
        margin: 0 auto;
        width: 90%;
        border-bottom: $dark-border;
        padding: 10px 0;
        img {
            float: left;
            @extend .circle;
            width: 35px;
            height: 35px;
        }
        .userActivity {
            margin: 0;
            margin-left: 50px;
            p {
                margin: 0;
            }
        }
    }
    @media screen and (min-width: 768px) {
        float: right;
        width: 50%;
        border-left: 0;
    }
}
// Message User Styling
#messageUser {
    clear: both;
    #messageContainer {
        width: 90%;
        margin: 0 auto;
        #messageInputs{
            #messageTitle {
                margin: 0 auto;
                padding-bottom: 10px;
                @media screen and (min-width: 768px) {
                    padding-bottom: 30px;
                }
            }
            #userSearchBox {
                height: 24px;
            }
            #userMessageBox {
                padding-top: 6px;
            }
            #userSearchBox,
            #userMessageBox,
            #sendMessage {
                border: $dark-border;
                @extend .roundedCorners;
                margin-bottom: 10px;
                width: 100%;
            }
            #userSearchBox,
            #userMessageBox {
                padding-left: 10px;
                background-color: $color-dark;
            }
            #sendMessage {
                height: 24px;
                background-color: $color-dark;
                @media screen and (min-width: 768px) {
                    margin-top: 14px;
                }
            }
        }
    }
    @media screen and (min-width: 768px) {
        float: left;
        width: 50%;
    }
}

// Settings Styling

#userSettings {
    // This pulls in a HUGE extend from _extends.scss
    // Trying to work on keeping my main files clean :)
    @extend .switches;
    #settingsContainer {
        width: 90%;
        margin: 0 auto;
        #settingsToggles {
            padding-top: 10px;
            #sendText,
            #publicText {
                display: inline-block;
                height: 34px;
            }
            .switchFloat {
                margin-top: 6px;
                float: right;
            }
        }
        #timezoneSelector {
            border: $dark-border;
            height: 24px;
            @extend .roundedCorners;
            width: 100%;
            background-color: $color-dark;
        }
        #saveSettings {
            display: flex;
            justify-content: space-between;
            #saveButton {
                width: 45%;
            }
            #cancelButton {
                width: 45%;
            }
            #saveButton,
            #cancelButton {
                margin-top: 10px;
                height: 24px;
                @extend .roundedCorners;
                border: $dark-border;
                background-color: $color-dark;
            }
        }
    }
    @media screen and (min-width: 768px) {
        float: right;
        width: 50%;
        border-left: 0;
    }
}